@{
    ViewData["Title"] = "Batch Edit";
}
@model Batchess

<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
                <li class="breadcrumb-item active"><a asp-controller="Home" asp-action="Show_Batch">Show Batch</a></li>
            </ol>
        </div>
    </div>



    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h1>Edit Record</h1>

                @using (Html.BeginForm("BatchUpdate", "Home", FormMethod.Post))
                {
                    @Html.HiddenFor(m=> m.BatchId) <!-- Include a hidden field for the ID of the record being updated -->

                    <div>
                        <label for="Batch Code">Batch Code:</label>
                        @Html.TextBoxFor(m => m.BatchCode, new { @required = "required" })
                        @Html.ValidationMessageFor(m => m.BatchCode)
                    </div>

                    <div>
                        <label for="Batch Time">Batch Time:</label>
                        @Html.DropDownListFor(m => m.BatchTime, new SelectList(new[]
                    {
                    new SelectListItem { Text = "Select a Time Slot", Value = "" },
                    new SelectListItem { Text = "9:00AM to 11:00AM", Value = "9:00AM to 11:00AM" },
                    new SelectListItem { Text = "11:00AM to 01:00PM", Value = "11:00AM to 01:00PM" },
                    new SelectListItem { Text = "03:00PM to 05:00PM", Value = "03:00PM to 05:00PM" }
                    }, "Value", "Text"), new {  @required = "required" })
                        @Html.ValidationMessageFor(m => m.BatchTime)
                    </div>

                    <div>
                        <label for="CandidateEmail">BatchDays:</label>
                        @Html.DropDownListFor(m=> m.BatchDays, new SelectList(new[]{
                    new SelectListItem { Text = "Select Batch Day", Value = ""},
                    new SelectListItem { Text = "Monday, Wednesday, Friday", Value = "Monday, Wednesday, Friday" },
                    new SelectListItem { Text = "Tuesday, Thursday, Saturday", Value = "Tuesday, Thursday, Saturday" }
                    },  "Value", "Text"), new {  @required = "required" })
                        @Html.ValidationMessageFor(m => m.BatchDays)


                    </div>

                    <div>
                        <label for="BatchStartDate">Batch Start Date:</label>
                        
                        @Html.TextBoxFor(m => m.BatchStartDate, new {  @required ="required"})
                        @Html.ValidationMessageFor(m => m.BatchStartDate)
                    </div>


                    <div>
                        <label for="BatchDuration">Batch Duration</label>
                        @Html.TextBoxFor( m => m.BatchDuration, new{ @required = "required" }  )
                        @Html.ValidationMessageFor(m=> m.BatchDuration)
                    </div>


                    <div>
                        <label for="Course">Course:</label>
                        @Html.DropDownListFor(m => m.CourseId, new SelectList(ViewBag.CourseId, "Value", "Text"),
                    "Select a Course", new { @required = "required" })
                        @Html.ValidationMessageFor(m => m.CourseId)

                    </div>


                    <div>
                        <label for="Batch">Faculty:</label>
                        @Html.DropDownListFor(m => m.FacultyId, new SelectList(ViewBag.FacultyId, "Value", "Text"),"Select a Faculty", new { @required = "required" })
                        @Html.ValidationMessageFor(m => m.FacultyId)
                    </div>


                  



                    <input type="submit" value="Update" />
                }
            </div>
        </div>
    </div>

</div>

