@{
    ViewData["Title"] = "Faculty Edit";
}
@model Faculty

<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
                <li class="breadcrumb-item active"><a asp-controller="Home" asp-action="Show_Faculty">Show Faculty</a></li>
            </ol>
        </div>
    </div>



    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
    <h1>Edit Record</h1>

    @using (Html.BeginForm("Update", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.FacultyId) <!-- Include a hidden field for the ID of the record being updated -->

        <div>
            <label for="FirstName">First Name:</label>
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>

        <div>
            <label for="LastName">Last Name:</label>
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)
        </div>

        <div>
            <label for="FacultyEmail">Email:</label>
            @Html.TextBoxFor(m => m.FacultyEmail)
            @Html.ValidationMessageFor(m => m.FacultyEmail)
        </div>

                    <div>
                        <label for="FacultyPassword">Password:</label>
                        @Html.TextBoxFor(m => m.FacultyPassword)
                        @Html.ValidationMessageFor(m => m.FacultyPassword)
                    </div>

        <input type="submit" value="Update" />
    }
    </div>
    </div>
    </div>
    
</div>
