@model IEnumerable<Exam>;
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Data Table</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>ExamId</th>
                                        <th>ExamDate</th>
                                        <th>ExamTime</th>
                                        <th>ExaxmName</th>
                                        <th>Exam Type</th>
                                        <th>Course Name</th>
                                        <th>Batch Code</th>
                                        <th>Delete</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var temp in Model)
                                    {
                                        <tr>
                                            <td>@temp.ExamId</td>
                                            <td>@temp.ExamDate</td>
                                            <td>@temp.ExamTime</td>
                                            <td>@temp.ExaxmName</td>
                                            <td>@temp.Examtype.ExamType1</td>
                                            <td>@temp.Course.CourseName</td>
                                            <td>@temp.Batch.BatchCode</td>

                                            <td>
                                                <button class="btn btn-primary">
                                                    <a class="text-light" asp-controller="Facultypanel" asp-action="ExamDelete" asp-route-id="@temp.ExamId">Delete</a>
                                                </button>
                                            </td>
                                            <td>
                                                <form method="post" asp-controller="Facultypanel" asp-action="ExamEdit" asp-route-id="@temp.ExamId">
                                                    <button type="submit" class="btn btn-primary text-light ">Update</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ExamId</th>
                                        <th>ExamDate</th>
                                        <th>ExamTime</th>
                                        <th>ExaxmName</th>
                                        <th>Exam Type</th>
                                        <th>Course Name</th>
                                        <th>Batch Code</th>
                                        <th>Delete</th>
                                        <th>Edit</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
